@model IEnumerable<ATNB_2._0.Models.Product>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="wrap">
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="all">all</span></li>
            <li><span class="filter" data-filter="electronics">electronics</span></li>
            <li><span class="filter" data-filter="vehicle">vehicle</span></li>
            <li><span class="filter" data-filter="property">property</span></li>
            <li><span class="filter" data-filter="home">home Appliances</span></li>
            <li><span class="filter" data-filter="photo">photography</span></li>
            <li><span class="filter" data-filter="other">others</span></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
            {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10 thumb" data-cat=@item.Type>
                <div class="thumbnail">
                    <img class="img-responsive grow " src="~/images/@item.image" alt="pic">
                    <p class="caption">@Html.DisplayFor(modelItem => item.Name ) <br>
                     OfferPrice: @Html.DisplayFor(modelItem => item.OfferPrice) <br> Specification: @Html.DisplayFor(modelItem => item.Description) </p>
                    @Html.ActionLink("Make A bid","MakeBid", new { id = item.productId })
                </div>
            </div>
        }
    </div>
</div>